*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
kbd{
    border: 1px solid red;
    width: 4em;
    height: 4em;
    display: inline-block;
    text-transform: capitalize;
    position: relative;
    background-color: #fbfbfb;
    font-family: bahnschrift;
    font-size: 16px;
    border-radius: 12px;
    margin-left: 10px;
    margin-top: 15px;
    box-shadow: 0px 4px 2px 0px rgba(209,209,209,1);
    width: 50px;
    height: 55px;
}
kbd>button{
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}
kbd:hover >button{
    display: inline-block;
}
body{
    background: #5de2ad;
    height: 100vh;
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}
main > .wrapper{
    border: 1px solid red;
    padding: 15px 30px ;
    background: linear-gradient(to bottom, rgba(246,246,246,1) 0%, rgba(224,224,224,1) 100%);
    border-radius: 10px;
}
main > .wrapper>div:last-child{
    margin-bottom: 15px;
}
main >div> div:nth-child(2){
    margin-left: 2em;
}
main >div> div:nth-child(3){
    margin-left: 4em;
}
main >.wrapper {
    display: inline-block;
}
main{
    text-align: center;
}